* {
	font-size: 70px;
}
table {
	border: 2px solid black;
}

td{
	
	height: 90px;
	width: 90px;
	text-align: center;
}
tr:nth-child(even) td:nth-child(odd), 
tr:nth-child(odd) td:nth-child(even){
	background-color: lightgray;
}
