
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px;
}
span{
	color: #E43434;
}
.logo{
	align-items: center;
	gap: 10px;
	font-weight: bold;
	display: flex;
}
.L{
	width: 40px;
	height: 40px;
	background: #E43434;
	color: white;
	align-items: center;
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 20px;
}
a{
	text-decoration: none;
	color: black;
}
ul{
	list-style: none;
	font-weight: bold;
	font-family: calibri;
}
li{
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
}
.hero-section{
	background: url(../images/img1.jpg) no-repeat center top;
	display: flex;
	background-size: cover;
	background-position: center -12vw;
}
.hero{
	color: white;
	position: relative;
	text-align: left;
	width: 100%;
}
.hero h1{
	margin-top: 10vw;
	font-size: 8vw;
	margin-left: 8vw;
	font-family: calibri;
}
.hero p{
	font-size: 5vw;
	margin-left: 8vw;
}
.button{
	width: 15%;
	aspect-ratio: 16/5;
	background: white;
	text-align: center;
	border-radius: 15%/50%;
	margin-top: 5px;
	margin-left: 8vw;
	position: absolute;
	align-content: center;
}
.btn{
	color: #E43434;
	font-size: 2.5vw;
	font-weight: bold;
	font-family: calibri;
}
.images{
	margin-top: 5vw;
}
.images img{
	width: 100%;
	aspect-ratio: 16/5;
}
.nav {
  display: none;              
  flex-direction: column;        
  gap: 15px;
  padding: 20px;
  position: absolute;
  background: white;
  top: 60px;
  left: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  z-index: 1000;
}
.nav.open {
  display: flex;
}

.about {
  background: linear-gradient(#616267 0,9%, #FEF1F1);
  width: 100%;
  aspect-ratio: 16/7;
  display: flex;
  margin-top: -2vw;
  margin-bottom: 5vw;
}

.par {
  width: 50%;
  margin-top: 5vw;	
}

.image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  position: relative;
  width: 50%;
  height: 50%;
}

.img-wrapper::before {
  content: "";
  position: absolute;
  top: -1vw;
  left: -3vw;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  z-index: 1;
}

.img3 {
  width: 100%;
  height: 100%;
  background: url(../images/img3.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  position: relative;
  top: 1vh;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.about h1{
	font-size: 5vw;
}
.about p{
	font-size: 4vw;
	margin-bottom: 2vw;
	margin-right: 3vw;
}
.par a{
	font-size: 3vw;
}
.bikes {
	width: 100%;
	justify-items: center;
}

.bikes h1{
	font-size: 5vw;
	font-weight: normal;
}

.button2{
	width: 15%;
	aspect-ratio: 16/5;
	align-content: center;
	background: black;
	text-align: center;
	border-radius: 15%/50%;
	margin-top: 2vw;
	margin-bottom: 5vw;
}
.btn2{
	color: white;
	font-size: 2.5vw;
	font-weight: bold;
	font-family: calibri;
}
.bikes-photo{
	width: 100%;
	aspect-ratio: 12/3;
	display: flex;
	overflow: hidden;
}

.photo1{
	background: url(../images/bike1.jpg);
	background-size: cover;
	background-position: center;
	width: 34%;
	height: 80%;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	margin-left: -8%;
	margin-right: 3%;
	margin-top: 3%;
}
.photo2{
	background: url(../images/bike2.jpg);
	background-size: cover;
	background-position: center;
	width: 34%;
	height: 80%;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	margin-right: 1%;
	margin-top: 3%;
}
.photo3{
	background: url(../images/bike3.jpg);
	background-size: cover;
	background-position: center;
	width: 45%;
	height: 100%;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	margin-right: 1%;
}

.photo4{
	background: url(../images/bike4.jpg);
	background-size: cover;
	background-position: center;
	width: 34%;
	height: 80%;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	margin-right: 3%;
	margin-top: 3%;
}

.photo5{
	background: url(../images/bike5.jpg);
	background-size: cover;
	background-position: center;
	width: 34%;
	height: 80%;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	margin-right: -8%;
	margin-top: 3%;
}

.points{
	width: 100%;
	margin-top: 3vw;
	display: flex;
	justify-content: center;
	margin-bottom: 10vw;
}
.point1{
	background-color: black;
	width: 2.5vw;
	height: 2.5vw;
	border-radius: 90px;
	margin-right: 2vw;
}
.point2{
	background-color: black;
	width: 2.5vw;
	height: 2.5vw;
	border-radius: 90px;
	margin-right: 2vw;
}
.point3{
	background-color: #AFA996;
	width: 2.5vw;
	height: 2.5vw;
	border-radius: 90px;
	margin-right: 2vw;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.point4{
	background-color: black;
	width: 2.5vw;
	height: 2.5vw;
	border-radius: 90px;
	margin-right: 2vw;
}
.point5{
	background-color: black;
	width: 2.5vw;
	height: 2.5vw;
	border-radius: 90px;
	margin-right: 2vw;
}

.img4 {
	background: url(../images/img4.jpg);
	background-size: cover;
	background-position: center ;
	width: 100%;
	aspect-ratio: 16/7;
}

.subscribe h1{
	font-size: 7vw;
	font-family: calibri;
	text-align: center;
	margin-top: 10vw;
}

.subscribe h2{
	font-size: 5vw;
	font-family: calibri;
	text-align: center;
}

.textbox {
	width: 100%;
	aspect-ratio: 18/1;
	display: flex;
	justify-content: center;
	margin-top: 3vw;
	margin-bottom: 8vw;
}

.textbox input{
	border: 1px solid black;
	border-radius: 10%/90%;
	margin-right: 10px;
	padding-left: 10px;
	width: 35%;
	aspect-ratio: 16/5;
	font-size: 2.5vw;
}
input:focus{
	outline: none;
}

.button3{
	width: 15%;
	aspect-ratio: 16/5;
	background: white;
	text-align: center;
	border-radius: 15%/50%;
	align-content: center;
	border: 1px solid black;
}
.btn3{
	color: black;
	font-size: 2.5vw;
	font-family: calibri;
}

.img5{
	background: url(../images/img5.jpg);
	background-size: cover;
	background-position: center ;
	width: 100%;
	aspect-ratio: 16/7;
}

.footer{
	display: block;
	width: 100%;
	aspect-ratio: 16/2;
	align-content: center;
}

.footer p{
	font-size: 3vw;
	font-family: calibri;
	font-weight: bold;
	color: #949494;
	text-align: center;
	margin-bottom: 3vw;
}

.svgs{
	display: flex;
	justify-content: center;
	margin-top: 2vw;
}

svg{
	fill: #949494;
	border: 1px solid black;
	margin-right: 1.5vw;
	aspect-ratio: 2/1;
	width: 4vw;
	height: 4vw;
}

@media screen and (width>=768px) {
  .nav {
    display: flex;     
    position: static;            
    flex-direction: row;        
    align-items: center;
    border: none;
    padding: 0;
  }
  ul{
  	display: flex;
  }
}
