body {
    padding: 0;
    margin: 0;
    font-family: Calibri;
    background-color: lightcyan;
}
.page-container {
    width: 900px;
    margin: 20px auto;
    background: white;
    display: flex;
}
.left-side {
    padding: 20px;
    width: 30%;
    background-color: #3a5e90;
    color: white;
    float: left;
}
.right-side {
    padding: 20px;
    width: 70%;
    float: left;
}
.left-side img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 15px;
}
.left-side h3, .right-side h2 {
    margin-bottom: 10px;
}
.left-side hr, .right-side hr {
    border: 1px solid lightgray;
    margin-bottom: 10px;
}
.right-side section {
    margin-bottom: 20px;
}
a {
    background-color: #42abf1;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    width: 170px;
    display: block;
    text-align: center;
    text-decoration: none;
}
ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
}

h4 {
    margin: 5px;
}
.social-icons a {
    margin: 0 10px;
    display: inline-block;
    background-color: white;
    width: 48px;
}

.social-icons .icon {
    width: 48px;
    height: 48px;
    fill: #000;
}

